# 패키지 임포팅

In [1]:
## 패키지 임포팅
import pandas as pd
import numpy as np

# 데이터 확인

In [9]:
## 데이터로딩
dir="../prosumer_behaviour/"
train=pd.read_csv(dir+"train.csv")
client=pd.read_csv(dir+"client.csv")
gas=pd.read_csv(dir+"gas_prices.csv")
ele=pd.read_csv(dir+"electricity_prices.csv")
forecast=pd.read_csv(dir+"forecast_weather.csv")
historical=pd.read_csv(dir+"historical_weather.csv")
map=pd.read_csv(dir+"weather_station_to_county_mapping.csv")
print(train.shape)

(2018352, 9)

In [10]:
display(train.head())
display(train.info())

,county,is_business,product_type,target,is_consumption,datetime,data_block_id,row_id,prediction_unit_id
0,0,0,1,0.713,0,2021-09-01 00:00:00,0,0,0
1,0,0,1,96.590,1,2021-09-01 00:00:00,0,1,0
2,0,0,2,0.000,0,2021-09-01 00:00:00,0,2,1
3,0,0,2,17.314,1,2021-09-01 00:00:00,0,3,1
4,0,0,3,2.904,0,2021-09-01 00:00:00,0,4,2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2018352 entries, 0 to 2018351
Data columns (total 9 columns):
 #   Column              Dtype
---  ------              -----
 0   county              int64
 1   is_business         int64
 2   product_type        int64
 3   target              float64
 4   is_consumption      int64
 5   datetime            object
 6   data_block_id       int64
 7   row_id              int64
 8   prediction_unit_id  int64
dtypes: float64(1), int64(7), object(1)
memory usage: 138.6+ MB

None

In [11]:
display(client.head())
display(client.info())

,product_type,county,eic_count,installed_capacity,is_business,date,data_block_id
0,1,0,108,952.89,0,2021-09-01,2
1,2,0,17,166.40,0,2021-09-01,2
2,3,0,688,7207.88,0,2021-09-01,2
3,0,0,5,400.00,1,2021-09-01,2
4,1,0,43,1411.00,1,2021-09-01,2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41919 entries, 0 to 41918
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   product_type        41919 non-null  int64
 1   county              41919 non-null  int64
 2   eic_count           41919 non-null  int64
 3   installed_capacity  41919 non-null  float64
 4   is_business         41919 non-null  int64
 5   date                41919 non-null  object
 6   data_block_id       41919 non-null  int64
dtypes: float64(1), int64(5), object(1)
memory usage: 2.2+ MB

None

In [12]:
display(ele.head())
display(ele.info())

         forecast_date  euros_per_mwh          origin_date  data_block_id
0  2021-09-01 00:00:00          92.51  2021-08-31 00:00:00              1
1  2021-09-01 01:00:00          88.90  2021-08-31 01:00:00              1
2  2021-09-01 02:00:00          87.35  2021-08-31 02:00:00              1
3  2021-09-01 03:00:00          86.88  2021-08-31 03:00:00              1
4  2021-09-01 04:00:00          88.43  2021-08-31 04:00:00              1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15286 entries, 0 to 15285
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   forecast_date  15286 non-null  object
 1   euros_per_mwh  15286 non-null  float64
 2   origin_date    15286 non-null  object
 3   data_block_id  15286 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 477.8+ KB

None

In [13]:
display(gas.head())
display(gas.info())

,forecast_date,lowest_price_per_mwh,highest_price_per_mwh,origin_date,data_block_id
0,2021-09-01,45.23,46.32,2021-08-31,1
1,2021-09-02,45.62,46.29,2021-09-01,2
2,2021-09-03,45.85,46.40,2021-09-02,3
3,2021-09-04,46.30,46.80,2021-09-03,4
4,2021-09-05,46.30,46.58,2021-09-04,5

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 637 entries, 0 to 636
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   forecast_date          637 non-null    object
 1   lowest_price_per_mwh   637 non-null    float64
 2   highest_price_per_mwh  637 non-null    float64
 3   origin_date            637 non-null    object
 4   data_block_id          637 non-null    int64
dtypes: float64(2), int64(1), object(2)
memory usage: 25.0+ KB

None

In [14]:
display(forecast.head())
display(forecast.info())

,latitude,longitude,origin_datetime,hours_ahead,temperature,dewpoint,cloudcover_high,cloudcover_low,cloudcover_mid,cloudcover_total,10_metre_u_wind_component,10_metre_v_wind_component,data_block_id,forecast_datetime,direct_solar_radiation,surface_solar_radiation_downwards,snowfall,total_precipitation
0,57.6,21.7,2021-09-01 02:00:00,1,15.655786,11.553613,0.904816,0.019714,0.000000,0.905899,-0.411328,-9.106137,1,2021-09-01 03:00:00,0.0,0.0,0.0,0.0
1,57.6,22.2,2021-09-01 02:00:00,1,13.003931,10.689844,0.886322,0.004456,0.000000,0.886658,0.206347,-5.355405,1,2021-09-01 03:00:00,0.0,0.0,0.0,0.0
2,57.6,22.7,2021-09-01 02:00:00,1,14.206567,11.671777,0.729034,0.005615,0.000000,0.730499,1.451587,-7.417905,1,2021-09-01 03:00:00,0.0,0.0,0.0,0.0
3,57.6,23.2,2021-09-01 02:00:00,1,14.844507,12.264917,0.336304,0.074341,0.000626,0.385468,1.090869,-9.163999,1,2021-09-01 03:00:00,0.0,0.0,0.0,0.0
4,57.6,23.7,2021-09-01 02:00:00,1,15.293848,12.458887,0.102875,0.088074,0.000015,0.176590,1.268481,-8.975766,1,2021-09-01 03:00:00,0.0,0.0,0.0,0.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3424512 entries, 0 to 3424511
Data columns (total 18 columns):
 #   Column                             Dtype
---  ------                             -----
 0   latitude                           float64
 1   longitude                          float64
 2   origin_datetime                    object
 3   hours_ahead                        int64
 4   temperature                        float64
 5   dewpoint                           float64
 6   cloudcover_high                    float64
 7   cloudcover_low                     float64
 8   cloudcover_mid                     float64
 9   cloudcover_total                   float64
 10  10_metre_u_wind_component          float64
 11  10_metre_v_wind_component          float64
 12  data_block_id                      int64
 13  forecast_datetime                  object
 14  direct_solar_radiation             float64
 15  surface_solar_radiation_downwards  float64
 16  snowfall                           float64
 17  total_precipitation                float64
dtypes: float64(14), int64(2), object(2)
memory usage: 470.3+ MB

None

In [15]:
display(historical.head())
display(historical.info())

,datetime,temperature,dewpoint,rain,snowfall,surface_pressure,cloudcover_total,cloudcover_low,cloudcover_mid,cloudcover_high,windspeed_10m,winddirection_10m,shortwave_radiation,direct_solar_radiation,diffuse_radiation,latitude,longitude,data_block_id
0,2021-09-01 00:00:00,14.2,11.6,0.0,0.0,1015.9,31,31,0,11,7.083333,8,0.0,0.0,0.0,57.6,21.7,1.0
1,2021-09-01 00:00:00,13.9,11.5,0.0,0.0,1010.7,33,37,0,0,5.111111,359,0.0,0.0,0.0,57.6,22.2,1.0
2,2021-09-01 00:00:00,14.0,12.5,0.0,0.0,1015.0,31,34,0,0,6.333333,355,0.0,0.0,0.0,57.6,22.7,1.0
3,2021-09-01 00:00:00,14.6,11.5,0.0,0.0,1017.3,0,0,0,0,8.083333,297,358.0,277.0,81.0,57.6,23.2,1.0
4,2021-09-01 00:00:00,15.7,12.9,0.0,0.0,1014.0,22,25,0,0,8.416667,5,0.0,0.0,0.0,57.6,23.7,1.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1710802 entries, 0 to 1710801
Data columns (total 18 columns):
 #   Column                  Dtype
---  ------                  -----
 0   datetime                object
 1   temperature             float64
 2   dewpoint                float64
 3   rain                    float64
 4   snowfall                float64
 5   surface_pressure        float64
 6   cloudcover_total        int64
 7   cloudcover_low          int64
 8   cloudcover_mid          int64
 9   cloudcover_high         int64
 10  windspeed_10m           float64
 11  winddirection_10m       int64
 12  shortwave_radiation     float64
 13  direct_solar_radiation  float64
 14  diffuse_radiation       float64
 15  latitude                float64
 16  longitude               float64
 17  data_block_id           float64
dtypes: float64(12), int64(5), object(1)
memory usage: 234.9+ MB

None

In [16]:
print(train.columns)
print(client.columns)
print(gas.columns)
print(ele.columns)
print(forecast.columns)
print(historical.columns)

Index(['county', 'is_business', 'product_type', 'target', 'is_consumption',
       'datetime', 'data_block_id', 'row_id', 'prediction_unit_id'],
      dtype='object')
Index(['product_type', 'county', 'eic_count', 'installed_capacity',
       'is_business', 'date', 'data_block_id'],
      dtype='object')
Index(['forecast_date', 'lowest_price_per_mwh', 'highest_price_per_mwh',
       'origin_date', 'data_block_id'],
      dtype='object')
Index(['forecast_date', 'euros_per_mwh', 'origin_date', 'data_block_id'], dtype='object')
Index(['latitude', 'longitude', 'origin_datetime', 'hours_ahead',
       'temperature', 'dewpoint', 'cloudcover_high', 'cloudcover_low',
       'cloudcover_mid', 'cloudcover_total', '10_metre_u_wind_component',
       '10_metre_v_wind_component', 'data_block_id', 'forecast_datetime',
       'direct_solar_radiation', 'surface_solar_radiation_downwards',
       'snowfall', 'total_precipitation'],
      dtype='object')
Index(['datetime', 'temperature', 'dewpoint', 'rain', 'snowfall',
       'surface_pressure', 'cloudcover_total', 'cloudcover_low',
       'cloudcover_mid', 'cloudcover_high', 'windspeed_10m',
       'winddirection_10m', 'shortwave_radiation', 'direct_solar_radiation',
       'diffuse_radiation', 'latitude', 'longitude', 'data_block_id'],
      dtype='object')

## 시간 파생컬럼 추가

In [17]:
# train 데이터의 날짜 자료형: object->datetime
train['datetime'] = pd.to_datetime(train['datetime'])

# datetime의 특성을 컬럼으로 추가
train['dt_date'] = train['datetime'].dt.normalize() # 2021-09-01 11:00:00 -> 2021-09-01 00:00:00
train['dt_year'] = train['datetime'].dt.year
train['dt_quarter'] = train['datetime'].dt.quarter
train['dt_month'] = train['datetime'].dt.month
train['dt_week'] = train['datetime'].dt.isocalendar().week # iso 달력을 기준으로 week 정보 추가
train['dt_day_of_month']  = train['datetime'].dt.day
train['dt_hour'] = train['datetime'].dt.hour

# 요일 특성 담아주기
train['day_of_year'] = train['datetime'].dt.day_of_year
train['day_of_week'] = train['datetime'].dt.day_of_week

## 훈련: 비무작위 결측치 대치
- 서머타임으로 인해 발생한 결측치를 이전 시간의 값으로 대치
- 유의점: prediction unit id 별, 시간별, 그리고 소비여부별로 행이 구성되어있으므로 각각의 타입에 맞도록 인덱싱한 이후에 결측치를 대치하여야 함.

In [19]:
## train data preprocessing
print(train.isna().sum())
print(train[train['target'].isna()==True]['datetime'].value_counts())
# target NaN for SummerTime -> fillna with the month's at 3 o'clock by prediction unit id 
for c in [0,1]:
    mean_train=train[train['is_consumption']==c].groupby(['dt_month','dt_hour','prediction_unit_id'])[['target']].mean().reset_index()
    for m in [3,10]:
        pui =train[((train['dt_month']==m)&(train['dt_hour']==3)&(train['target'].isna()==True)&(train['is_consumption']==c))]['prediction_unit_id'].values
        for p in pui: 
            indice=train[((train['is_consumption']==c)&(train['prediction_unit_id']==p)&(train['dt_month']==m)&(train['dt_hour']==3)&(train['target'].isna()))].index
            for idx in indice:
                train.loc[idx,'target']=mean_train[((mean_train['prediction_unit_id']==p)&(mean_train['dt_month']==m)&(mean_train['dt_hour']==3))]['target'].values[0]

county                0
is_business           0
product_type          0
target                0
is_consumption        0
datetime              0
data_block_id         0
row_id                0
prediction_unit_id    0
dt_date               0
dt_year               0
dt_quarter            0
dt_month              0
dt_week               0
dt_day_of_month       0
dt_hour               0
day_of_year           0
day_of_week           0
dtype: int64
Series([], Name: count, dtype: int64)

In [20]:
print(train.isna().sum())

county                0
is_business           0
product_type          0
target                0
is_consumption        0
datetime              0
data_block_id         0
row_id                0
prediction_unit_id    0
dt_date               0
dt_year               0
dt_quarter            0
dt_month              0
dt_week               0
dt_day_of_month       0
dt_hour               0
day_of_year           0
day_of_week           0
dtype: int64

# 데이터 결합
- 각 데이터셋마다 시작 시간과 종료 시간이 다르며, 결측치가 존재함. 따라서, 결합->결측치제거->결합 과정 반복
- 결합 과정
- 1. 훈련셋+고객정보: 소속 지역, 사업자여부, 계약유형, 일단위ID 기준으로 레프트 조인
  2. 가스요금+전기요금: 가스요금은 일단위 데이터, 전기요금은 시간단위 데이터이므로 일자를 기준으로 전기요금에 대해 가스요금을 레프트 조인
  3. 훈련셋과 날씨정보: 날씨데이터는 다수의 관측지점 값으로 구성됨. 관측지점과 소속 지역을 매핑하고, 하나의 소속지역 내에 여러 관측지점이 존재하는 경우, 평균값으로 그 시간의 날씨 데이터 변형. 이후 소속 지역과 시간을 기준으로 훈련세세 날씨정보를 레프트 조인.

In [21]:
## merging train and client

df_merging1=train.merge(client, how='left', on=['county','is_business','product_type','data_block_id'])
display(df_merging1.isna().sum())
df_merging2= df_merging1.drop('date', axis=1) # client 데이터는 트레인 데이터에 비하여 2일 늦음. 즉, 그제의 클라이언트 자료에 기반하여 현재의 target 값이 결정되는 구조

# dbi 0과 1의 클라이언트 결측치를 채우기 위해서는 각각의 prediction_unit_id에 알맞은 값을 넣어줘야함(dbi=2에 해당하는 eic와 capacity 값 넣어줌)
for p in np.unique(df_merging2['prediction_unit_id']):
    for d in [1,0]:
        for col in ['eic_count','installed_capacity']:
            nan_idx=df_merging2[((df_merging2[col].isna()==True)&(df_merging2['data_block_id']==d)&(df_merging2['prediction_unit_id']==p))].index.values.tolist()
            df_merging2.loc[nan_idx,col]=df_merging2[((df_merging2['data_block_id']==d+1)&(df_merging2['prediction_unit_id']==p))][col].values # bfill method 적용하여 채우기


display(df_merging2.isna().sum())
# 여전히 남아있는 2784개의 NaN 값에 해당하는 prediction_unit_id와 data_block_id 확인
nan_type=np.unique(df_merging2[df_merging2['eic_count'].isna()==True]['prediction_unit_id'])
print(nan_type)
nan_dbi=np.unique(df_merging2[df_merging2['eic_count'].isna()]['data_block_id'])[::-1] # eic가 NaN인 값의 data block id를 역순으로 가져옴. 이걸 기준으로 eic 나 capacity NAN인 데이터의 dbi 가져올 수 있음
print(nan_dbi)

for p in nan_type:
    nan_dbi_p=(np.unique(df_merging2[((df_merging2['prediction_unit_id']==p) & (df_merging2['eic_count'].isna()==True))]['data_block_id']))[::-1]
    print(p, nan_dbi_p)
    for d in nan_dbi_p:
        for col in ['eic_count','installed_capacity']:
            try:
                nan_idx=df_merging2[((df_merging2[col].isna()==True)&(df_merging2['data_block_id']==d)&(df_merging2['prediction_unit_id']==p))].index.values.tolist()
                df_merging2.loc[nan_idx,col]=df_merging2[((df_merging2['data_block_id']==d+1)&(df_merging2['prediction_unit_id']==p))][col].values # bfill method
            except:
                print(f'bfill not available type: {p}, dbi: {d}')
                continue

display(df_merging2.isna().sum())

# 남은 144개의 결측치는 대체 불가함 ->drop
df_merging3=df_merging2.dropna()
print(df_merging3.isna().sum())

county                   0
is_business              0
product_type             0
target                   0
is_consumption           0
datetime                 0
data_block_id            0
row_id                   0
prediction_unit_id       0
dt_date                  0
dt_year                  0
dt_quarter               0
dt_month                 0
dt_week                  0
dt_day_of_month          0
dt_hour                  0
day_of_year              0
day_of_week              0
eic_count             8640
installed_capacity    8640
date                  8640
dtype: int64

county                   0
is_business              0
product_type             0
target                   0
is_consumption           0
datetime                 0
data_block_id            0
row_id                   0
prediction_unit_id       0
dt_date                  0
dt_year                  0
dt_quarter               0
dt_month                 0
dt_week                  0
dt_day_of_month          0
dt_hour                  0
day_of_year              0
day_of_week              0
eic_count             2784
installed_capacity    2784
dtype: int64

[21 26 41 44 47 61 62 63 64 65 66 67 68]
[612 611 608 607 606 603 602 596 595 591 590 584 583 580 573 572 541 540
 533 532 519 518 514 513 458 427 426 396 395 366 365 274 273 216 215 204
 203 173 172 154 153 123 122  92  91  31  30]
21 [154 153]
26 [519 518 366 365 274 273 216 215 173 172]
41 [612 611 541 540 458 396 395 204 203]
44 [607 606 591 590 123 122]
47 [603 602 596 595 584 583 580 514 513]
bfill not available type: 47, dbi: 596
bfill not available type: 47, dbi: 596
bfill not available type: 47, dbi: 580
bfill not available type: 47, dbi: 580
61 [31 30]
62 [31 30]
63 [31 30]
64 [92 91]
65 [123 122]
66 [123 122]
67 [154 153]
68 [608 607 573 572 533 532 427 426]

county                  0
is_business             0
product_type            0
target                  0
is_consumption          0
datetime                0
data_block_id           0
row_id                  0
prediction_unit_id      0
dt_date                 0
dt_year                 0
dt_quarter              0
dt_month                0
dt_week                 0
dt_day_of_month         0
dt_hour                 0
day_of_year             0
day_of_week             0
eic_count             144
installed_capacity    144
dtype: int64

county                0
is_business           0
product_type          0
target                0
is_consumption        0
datetime              0
data_block_id         0
row_id                0
prediction_unit_id    0
dt_date               0
dt_year               0
dt_quarter            0
dt_month              0
dt_week               0
dt_day_of_month       0
dt_hour               0
day_of_year           0
day_of_week           0
eic_count             0
installed_capacity    0
dtype: int64

In [23]:
## merge gas and ele
# df gas avg price
gas['euros_per_mwh']=gas['lowest_price_per_mwh']/2 + gas['highest_price_per_mwh']/2

# merge
df_prices1=pd.merge(ele,gas, how='inner', on='data_block_id', suffixes=('_electricity','_gas'))
# display(df_prices1)

In [24]:
## merge train + prices
# train 과의 결합을 위하여 datetime column 추가
df_prices1['datetime']=pd.to_datetime(df_prices1['forecast_date_electricity'])+pd.DateOffset(hours=24)
df_prices2=df_prices1[['datetime','data_block_id','euros_per_mwh_electricity','euros_per_mwh_gas']]

# merge
df_merging4=df_merging3.merge(df_prices2, how='left', on=['datetime','data_block_id'])
# display(df_merging4)

In [25]:
print(df_merging4.isna().sum())
print(df_merging4[df_merging4['euros_per_mwh_gas'].isna()==True][['datetime','data_block_id']].values)

# gas 결측치 처리: data block id == 0 이었던 부분 및 서머타임으로 인해 발생한 결측치 -> bfill 처리
df_merging4['euros_per_mwh_gas']=df_merging4['euros_per_mwh_gas'].fillna(method='bfill')
print(df_merging4.isna().sum())

# electricity의 경우 시간을 고려하여 결측치를 처리해주어야함 -> 다음날 같은 시간의 가격으로 대체
# df_merging4[df_merging4['euros_per_mwh_electricity']==True]

nan_ele_idx=df_merging4[df_merging4['euros_per_mwh_electricity'].isna()==True].index.values.tolist()
for i in nan_ele_idx:
    # print(i)
    d=df_merging4['data_block_id'].loc[i]
    h=df_merging4['dt_hour'].loc[i]
    df_merging4.loc[i,'euros_per_mwh_electricity']=df_merging4[((df_merging4['data_block_id']==d+1)&(df_merging4['dt_hour']==h))]['euros_per_mwh_electricity'].values[0]
    # print(df_merging4[((df_merging4['data_block_id']==d+1)&(df_merging4['dt_hour']==h))]['euros_per_mwh_electricity'].values[0])
display(df_merging4.isna().sum())

county                          0
is_business                     0
product_type                    0
target                          0
is_consumption                  0
datetime                        0
data_block_id                   0
row_id                          0
prediction_unit_id              0
dt_date                         0
dt_year                         0
dt_quarter                      0
dt_month                        0
dt_week                         0
dt_day_of_month                 0
dt_hour                         0
day_of_year                     0
day_of_week                     0
eic_count                       0
installed_capacity              0
euros_per_mwh_electricity    3196
euros_per_mwh_gas            3196
dtype: int64
[[Timestamp('2021-09-01 00:00:00') 0]
 [Timestamp('2021-09-01 00:00:00') 0]
 [Timestamp('2021-09-01 00:00:00') 0]
 ...
 [Timestamp('2023-03-27 02:00:00') 572]
 [Timestamp('2023-03-27 02:00:00') 572]
 [Timestamp('2023-03-27 02:00:00') 572]]
county                          0
is_business                     0
product_type                    0
target                          0
is_consumption                  0
datetime                        0
data_block_id                   0
row_id                          0
prediction_unit_id              0
dt_date                         0
dt_year                         0
dt_quarter                      0
dt_month                        0
dt_week                         0
dt_day_of_month                 0
dt_hour                         0
day_of_year                     0
day_of_week                     0
eic_count                       0
installed_capacity              0
euros_per_mwh_electricity    3196
euros_per_mwh_gas               0
dtype: int64

county                       0
is_business                  0
product_type                 0
target                       0
is_consumption               0
datetime                     0
data_block_id                0
row_id                       0
prediction_unit_id           0
dt_date                      0
dt_year                      0
dt_quarter                   0
dt_month                     0
dt_week                      0
dt_day_of_month              0
dt_hour                      0
day_of_year                  0
day_of_week                  0
eic_count                    0
installed_capacity           0
euros_per_mwh_electricity    0
euros_per_mwh_gas            0
dtype: int64

In [26]:
## mapping county to weather information
# 카운티 위도 경도를 날씨정보와 동일하게 소수점 1자리 까지만 표기
map['latitude'], map['longitude']= map['latitude'].apply(lambda x: np.round(x,1)),map['longitude'].apply(lambda x: np.round(x,1))
df_fweather_merging1=forecast.merge(map, on=['latitude','longitude']).dropna()
df_hweather_merging1=historical.merge(map, on=['latitude','longitude']).dropna()

In [27]:
## 시간 컬럼을 'datetime'으로 통일
df_fweather_merging1['origin_datetime']=pd.to_datetime(df_fweather_merging1['origin_datetime'])
df_fweather_merging1['forecast_datetime']=pd.to_datetime(df_fweather_merging1['forecast_datetime'])

df_hweather_merging1['datetime']=pd.to_datetime(df_hweather_merging1['datetime'])
df_hweather_merging1=df_hweather_merging1.rename(columns={'datetime':'historical_datetime'})
df_hweather_merging1['forecast_datetime']=df_hweather_merging1['historical_datetime']+pd.DateOffset(hours=48) 
# 하나의 레코드에 datetime은 전기 생산과 소비량을 모두 의미함. 48시간 이전에 25~48시간의 예보값을 이용해서 예측을 하고 싶은 것이므로 데이터 프레임을 구성해줄 때 시차를 미리 만들어서 결합하고자 함

In [28]:
# 레코드는 하나의 행이 차이나므로 23시간 이후의 예보값과 47시간 까지의 예보값을 활용
df_fweather_merging1[((df_fweather_merging1['hours_ahead']>=22)&(df_fweather_merging1['hours_ahead']<=46)&(df_fweather_merging1['county']==0))]
df_fweather_merging2=df_fweather_merging1[((df_fweather_merging1['hours_ahead']>21)&(df_fweather_merging1['hours_ahead']<46))]

In [29]:
df_fweather_merging3=df_fweather_merging2.groupby(['forecast_datetime','county_name']).mean().reset_index().drop(['latitude','longitude'],axis=1)
df_hweather_merging2=df_hweather_merging1.groupby(['forecast_datetime','county_name']).mean().reset_index().drop(['latitude','longitude'],axis=1)

In [30]:
## 예보자료와 실제자료 간 컬럼명이 다르거나 기상 관측 단위가 있으므로 맞춰주기
df_fweather_merging4=df_fweather_merging3.drop(['county_name','hours_ahead','origin_datetime','10_metre_u_wind_component','10_metre_v_wind_component'],axis=1)
rain=df_fweather_merging4['total_precipitation']-df_fweather_merging4['snowfall']
df_fweather_merging4['total_precipitation']=rain
df_fweather_merging4.rename(columns={'total_precipitation':'rain'}, inplace=True)
# print(df_fweather_merging4.columns)

# 바람은 태양광 예측에 큰 영향이 없을 것으로 판단.
# print(df_hweather_merging2.columns)
df_hweather_merging3=df_hweather_merging2.drop(['county_name', 'surface_pressure', 'winddirection_10m','windspeed_10m','data_block_id'],axis=1)
# print(df_hweather_merging3.columns)

In [32]:
# 머지 실행
df_weather=df_fweather_merging4.merge(df_hweather_merging3, how='left', on=['forecast_datetime','county'], suffixes=('_f','_h'))

## merge train + weather
df_merging5=pd.merge(df_merging4,df_weather, how='left', left_on=['datetime','county'],
                     right_on=['forecast_datetime','county'],suffixes=('','_weather'))

## the count 12 which is 'unknown county' means overseas, so should be removed.
# print(df_merging5.drop(df_merging5[df_merging5['county']==12].index).isna().sum())
df_merging6=df_merging5.drop(df_merging5[df_merging5['county']==12].index)
df_merging6

,county,is_business,product_type,target,is_consumption,datetime,data_block_id,row_id,prediction_unit_id,dt_date,...,dewpoint_h,rain_h,snowfall_h,cloudcover_total_h,cloudcover_low_h,cloudcover_mid_h,cloudcover_high_h,shortwave_radiation,direct_solar_radiation_h,diffuse_radiation
0,0,0,1,0.713,0,2021-09-01 00:00:00,0,0,0,2021-09-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,0,1,96.590,1,2021-09-01 00:00:00,0,1,0,2021-09-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,0,2,0.000,0,2021-09-01 00:00:00,0,2,1,2021-09-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,0,2,17.314,1,2021-09-01 00:00:00,0,3,1,2021-09-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,0,3,2.904,0,2021-09-01 00:00:00,0,4,2,2021-09-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018203,15,1,0,197.233,1,2023-05-31 23:00:00,637,2018347,64,2023-05-31,...,6.98,0.0,0.0,21.2,2.8,16.4,29.8,0.0,0.0,0.0
2018204,15,1,1,0.000,0,2023-05-31 23:00:00,637,2018348,59,2023-05-31,...,6.98,0.0,0.0,21.2,2.8,16.4,29.8,0.0,0.0,0.0
2018205,15,1,1,28.404,1,2023-05-31 23:00:00,637,2018349,59,2023-05-31,...,6.98,0.0,0.0,21.2,2.8,16.4,29.8,0.0,0.0,0.0
2018206,15,1,3,0.000,0,2023-05-31 23:00:00,637,2018350,60,2023-05-31,...,6.98,0.0,0.0,21.2,2.8,16.4,29.8,0.0,0.0,0.0
2018207,15,1,3,196.240,1,2023-05-31 23:00:00,637,2018351,60,2023-05-31,...,6.98,0.0,0.0,21.2,2.8,16.4,29.8,0.0,0.0,0.0

In [33]:
print(df_merging6.isna().sum())
print(np.unique(df_merging6[df_merging6['forecast_datetime'].isna()==True]['datetime']))
# NaNs in weather data are because of summer time and no info of the first and second day. so will be removed.
df_merging7=df_merging6.drop(df_merging6[df_merging6['data_block_id']==0].index).drop(df_merging6[df_merging6['data_block_id']==1].index)
df_merging8=df_merging7.dropna()
print(df_merging8.isna().sum())

county                                  0
is_business                             0
product_type                            0
target                                  0
is_consumption                          0
datetime                                0
data_block_id                           0
row_id                                  0
prediction_unit_id                      0
dt_date                                 0
dt_year                                 0
dt_quarter                              0
dt_month                                0
dt_week                                 0
dt_day_of_month                         0
dt_hour                                 0
day_of_year                             0
day_of_week                             0
eic_count                               0
installed_capacity                      0
euros_per_mwh_electricity               0
euros_per_mwh_gas                       0
forecast_datetime                    3142
temperature_f                        3142
dewpoint_f                           3142
cloudcover_high_f                    3142
cloudcover_low_f                     3142
cloudcover_mid_f                     3142
cloudcover_total_f                   3142
data_block_id_weather                3142
direct_solar_radiation_f             3142
surface_solar_radiation_downwards    3142
snowfall_f                           3142
rain_f                               3142
historical_datetime                  6022
temperature_h                        6022
dewpoint_h                           6022
rain_h                               6022
snowfall_h                           6022
cloudcover_total_h                   6022
cloudcover_low_h                     6022
cloudcover_mid_h                     6022
cloudcover_high_h                    6022
shortwave_radiation                  6022
direct_solar_radiation_h             6022
diffuse_radiation                    6022
dtype: int64
['2021-09-01T00:00:00.000000000' '2021-09-01T01:00:00.000000000'
 '2021-09-01T02:00:00.000000000' '2021-09-01T03:00:00.000000000'
 '2021-09-01T04:00:00.000000000' '2021-09-01T05:00:00.000000000'
 '2021-09-01T06:00:00.000000000' '2021-09-01T07:00:00.000000000'
 '2021-09-01T08:00:00.000000000' '2021-09-01T09:00:00.000000000'
 '2021-09-01T10:00:00.000000000' '2021-09-01T11:00:00.000000000'
 '2021-09-01T12:00:00.000000000' '2021-09-01T13:00:00.000000000'
 '2021-09-01T14:00:00.000000000' '2021-09-01T15:00:00.000000000'
 '2021-09-01T16:00:00.000000000' '2021-09-01T17:00:00.000000000'
 '2021-09-01T18:00:00.000000000' '2021-09-01T19:00:00.000000000'
 '2021-09-01T20:00:00.000000000' '2021-09-01T21:00:00.000000000'
 '2021-09-01T22:00:00.000000000' '2021-09-01T23:00:00.000000000'
 '2022-03-27T03:00:00.000000000' '2023-03-26T03:00:00.000000000']
county                               0
is_business                          0
product_type                         0
target                               0
is_consumption                       0
datetime                             0
data_block_id                        0
row_id                               0
prediction_unit_id                   0
dt_date                              0
dt_year                              0
dt_quarter                           0
dt_month                             0
dt_week                              0
dt_day_of_month                      0
dt_hour                              0
day_of_year                          0
day_of_week                          0
eic_count                            0
installed_capacity                   0
euros_per_mwh_electricity            0
euros_per_mwh_gas                    0
forecast_datetime                    0
temperature_f                        0
dewpoint_f                           0
cloudcover_high_f                    0
cloudcover_low_f                     0
cloudcover_mid_f                     0
cloudcover_total_f                   0
data_block_id_weather                0
direct_solar_radiation_f             0
surface_solar_radiation_downwards    0
snowfall_f                           0
rain_f                               0
historical_datetime                  0
temperature_h                        0
dewpoint_h                           0
rain_h                               0
snowfall_h                           0
cloudcover_total_h                   0
cloudcover_low_h                     0
cloudcover_mid_h                     0
cloudcover_high_h                    0
shortwave_radiation                  0
direct_solar_radiation_h             0
diffuse_radiation                    0
dtype: int64

In [34]:
## 컬럼명 정리
df_merging9=df_merging8.drop(['data_block_id_weather','historical_datetime','forecast_datetime'], axis=1).dropna().rename(columns={'shortwave_radiation':'shortwave_radiation_h','diffuse_radiation':'diffuse_radiation_h','surface_solar_radiation_downwards':'surface_solar_radiation_downwards_f'})
print(df_merging9.columns)

Index(['county', 'is_business', 'product_type', 'target', 'is_consumption',
       'datetime', 'data_block_id', 'row_id', 'prediction_unit_id', 'dt_date',
       'dt_year', 'dt_quarter', 'dt_month', 'dt_week', 'dt_day_of_month',
       'dt_hour', 'day_of_year', 'day_of_week', 'eic_count',
       'installed_capacity', 'euros_per_mwh_electricity', 'euros_per_mwh_gas',
       'temperature_f', 'dewpoint_f', 'cloudcover_high_f', 'cloudcover_low_f',
       'cloudcover_mid_f', 'cloudcover_total_f', 'direct_solar_radiation_f',
       'surface_solar_radiation_downwards_f', 'snowfall_f', 'rain_f',
       'temperature_h', 'dewpoint_h', 'rain_h', 'snowfall_h',
       'cloudcover_total_h', 'cloudcover_low_h', 'cloudcover_mid_h',
       'cloudcover_high_h', 'shortwave_radiation_h',
       'direct_solar_radiation_h', 'diffuse_radiation_h'],
      dtype='object')

In [35]:
## ele price 이상치 : 4000 -> 527.9
avg_ele_price=df_merging9[((df_merging7['dt_year']==2022)&(df_merging9['dt_month']==8)&(df_merging9['dt_hour']==17))]['euros_per_mwh_electricity'].mean()
avg_ele_price

C:\Users\user\AppData\Local\Temp\ipykernel_9624\2968170815.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  avg_ele_price=df_merging9[((df_merging7['dt_year']==2022)&(df_merging9['dt_month']==8)&(df_merging9['dt_hour']==17))]['euros_per_mwh_electricity'].mean()

527.7354838709678

In [36]:
## save file
df_merging9.to_csv('merged_dataset.csv')